<div class="container">
  <div class="row">
    <div class="one-half column" style="margin-top: 25%">
      <h4>{{title}}</h4>
      <p>Welcome to {{title}}</p>
			<form action="/upload" method="post" enctype="multipart/form-data">
			  <p><input type="file" name="file1">
			  <p><button type="submit">Submit</button>
			</form>
    </div>
  </div>
</div>
