.image-main {
  width: 600px;
  align-self: center;
	border: 1px solid #E1E1E1;
}
.center {
  text-align: center;
  padding: 10px;
}
input[type='radio'] {
  margin: 10px;
}
.circle {
	position: fixed;
  width: 10px;
  height: 10px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  background: black;
  display: none;
}
.line {
	border: 1px solid black;
	width: 0px;
	height: 0px;
	-moz-transform: rotate(0rad);
	-webkit-transform: rotate(0rad);
	-o-transform: rotate(0rad);
	-ms-transform: rotate(0rad);
	position: fixed;
	top: 0px;
	left: 0px;
}
